.homepage {
  min-height: 693px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 2px outset rgb(149, 149, 149);
  padding: 0 10px 0 10px;
  font-size: 30px;
}
.navigation img {
  width: 60px;
  height: 60px;
}
.card {
  margin: 5%;
  min-height: 200px;
}
.buttons {
  display: flex;
  justify-content: center;
}
